

body {
    background-color: lightgray;
  }


.container {
    position: relative;
    flex: 1 0 auto;
    margin: auto;
    
}


h1 {
    padding: 5%;
    text-align: center;
    height: 15px;
    color: green;
}

button {
    padding: 0%;
}

#button1value{
    background-image: url("C:/Users/Kamila/projektyAngular/wypozyczalniaKsiazek/LibraryProject/src/assets/img/lecture.png");
    padding: 100px;
    size: 40 px 40 px;
}

img {
    padding: 1%;
}

