

body {
    background-color: lightgray;
  }


.container {
    position: relative;
    flex: 1 0 auto;
    margin: auto;
    
}


h1 {
    padding: 5%;
    text-align: center;
    height: 15px;
    color: green;
}

button {
    padding: 0%;
}

#button1value{
    background-image: url("C:/Users/Kamila/projektyAngular/wypozyczalniaKsiazek/LibraryProject/src/assets/img/lecture.png");
    padding: 100px;
    size: 40 px 40 px;
}

img {
    padding: 1%;
}

form{
    display: grid;
    grid-template-columns: 5px;
}

#page-container {
    position: relative;
    min-height: 90vh;
}

#content-wrap {
    padding-bottom: 0.5rem;    /* Footer height */
}

.wrapper{ 
    display: grid;

}

.form-img{
    width: 100px;
    height: 100px;
}

#img1{
    grid-column: col-start 1 ;
    grid-row: 1;
}

#img2{
    grid-column: col-start 2 ;
    grid-row: 1;
}

#img3{
    grid-column: col-start 3 ;
    grid-row: 1;
}

#img4{
    grid-column: col-start 4;
    grid-row: 1;
}