<!-- <div class="mat-elevation-z8 book-data">
    <mat-table #table [dataSource]="bookService.books">
        <ng-container matColumnDef="book.id">
            <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="book.title">
            <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

</div> -->

<!-- <h1>Available books</h1> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Library App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

<header>
<app-nav-bar></app-nav-bar>
</header>

    <div class="container text-center">
    <h1>Available books</h1>
    <div class="images">
        <button name="lecture.png" (click)="getNameChosenPicture(button1value.id, button1value.name)" #button1value id="button1value">
            <!-- <img src="./assets/img/lecture.png" width="100" height="100"> -->
        </button>
        <button name="notebook.png" (click)="getNameChosenPicture(button2value.id, button2value.name)" #button2value id="button2value">
        <img src="./assets/img/notebook.png" width="100" height="100">
        </button>
        <button name="painting-palette.png" (click)="getNameChosenPicture(button3value.id, button3value.name)" #button3value id="button3value">
            <img src="./assets/img/painting-palette.png" width="100" height="100">
        </button>
        <button name="workspace.png" (click)="getNameChosenPicture(button4value.id, button4value.name)" #button4value id="button4value">
            <img src="./assets/img/workspace.png" width="100" height="100">
        </button>

    </div>
    <button type="submit" (click)="testClick()">Submit</button>


    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Identyfikator</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Year</th>
                    <th scope="col">Cover</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ksiazka of bookData">
                    <td>{{ksiazka.id}}</td>
                    <td>{{ksiazka.title}}</td>
                    <td>{{ksiazka.author}}</td>
                    <td>{{ksiazka.year}}</td>
                    <td>{{ksiazka.cover}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<app-footer></app-footer>

</body>
</html>



