nav {
    background-color: #3e4444;
}

.nav-link:hover {
    background-color: #3e4444;
}

.navbar {
    width: 100%;
    position: fixed;
    /* z-index: 1; */
    height: 6%;
    
}

.nav-item {
    margin-right: 10%;
    width: 50%;
}